<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
</head>
<body>
    <h1>Weather App</h1>

    <!-- POST form -->
    <form method="POST" action="/">
        <input type="text" name="city" placeholder="Kochi" required>
        <button type="submit">Get Weather</button>
    </form>

    <hr>

    <!-- Weather Display -->
    {% if weather %}
        <h2>Weather in {{ weather.city }} at the moment is: </h2>
        <p>Temperature: {{ weather.temperature }}°C</p>
        <p>Description: {{ weather.description }}</p>
        <p>Humidity: {{ weather.humidity }}%</p>
        <p>Visibility: {{ weather.visibility }}Km</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>